.content__heading {
  opacity: 0;
  display: none;
}
/*used on javascript animation*/
.active{
  display: block;
}

#one h2{
  text-align: center;
}
#one p{
  text-align: justify;
}

/*reset form contact 7 errors show*/
.wpcf7-response-output.wpcf7-display-none.wpcf7-validation-errors{
	display: none !important;
}
.wpcf7-not-valid-tip{
	color: #FFF !important;
}