/*
Theme Name: Shapely
Theme URI: https://colorlib.com/wp/themes/shapely
Author: colorlib
Author URI: https://colorlib.com/
Description: Shapely is a powerful and versatile one page WordPress theme with pixel perfect design and outstanding functionality. It is by far the most advanced free WordPress theme available today with loads of unmatched customization options. This theme comes with several homepage widgets that can be used to add portfolio, testimonials, parallax sections, your product or service information, call for action and much more. Shapely supports most free and premium WordPress plugins such as WooCommerce, Jetpack, Gravity Forms, Contact Form 7, Yoast SEO, Google Analytics by Yoast and much more. This theme is the best suited for business, landing page, portfolio, ecommerce, store, local business,  personal websites but can be tweaked to be used as blog, magazine or any other awesome website while highlighting its unique one page setup. This is going to be the last WordPress theme you will ever want to use because it is so much better than anything you have seen. Needless to say that this theme is SEO friendly thanks to its well optimized strucutre. Shapely theme is mobile friendly and fully responsive making it your best multipurpose partnert for any project and website.
Version: 1.0.2
License: GNU General Public License v2 or later
License URI: http://www.gnu.org/licenses/gpl-2.0.html
Text Domain: shapely
Tags: black, blue, brown, gray, green, orange, pink, purple, red, silver, tan, white, yellow, dark, light, left-sidebar, right-sidebar, fluid-layout, featured-images, post-formats, photoblogging, responsive-layout

This theme, like WordPress, is licensed under the GPL.
Use it to make something cool, have fun, and share what you've learned with others.

Shapely is based on Underscores http://underscores.me/, (C) 2012-2016 Automattic, Inc.
Underscores is distributed under the terms of the GNU GPL v2 or later.

Normalizing styles have been helped along thanks to the fine work of
Nicolas Gallagher and Jonathan Neal http://necolas.github.com/normalize.css/
*/


/*--------------------------------------------------------------
>>> TABLE OF CONTENTS:
----------------------------------------------------------------
# Normalize
# Typography
# Elements
# Forms
# Navigation
	## Links
	## Menus
# Accessibility
# Alignments
# Clearings
# Widgets
# Content
	## Posts and pages
	## Asides
	## Comments
# Infinite scroll
# Media
	## Captions
	## Galleries
--------------------------------------------------------------*/


/*--------------------------------------------------------------
# Normalize
--------------------------------------------------------------*/
html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}
body {
  margin: 0;
}
article, aside, details, figcaption, figure, footer, header, main, menu, nav, section, summary {
  display: block;
}
audio, canvas, progress, video {
  display: inline-block;
  vertical-align: baseline;
}
audio:not([controls]) {
  display: none;
  height: 0;
}
[hidden], template {
  display: none;
}
a {
  background-color: transparent;
}
a:active, a:hover {
  outline: 0;
}
abbr[title] {
  border-bottom: 1px dotted;
}
b, strong {
  font-weight: bold;
}
dfn {
  font-style: italic;
}
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}
mark {
  background: #ff0;
  color: #000;
}
small {
  font-size: 80%;
}
sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sup {
  top: -0.5em;
}
sub {
  bottom: -0.25em;
}
img {
  border: 0;
}
svg:not(:root) {
  overflow: hidden;
}
figure {
  margin: 1em 40px;
}
hr {
  box-sizing: content-box;
  height: 0;
}
pre {
  overflow: auto;
}
code, kbd, pre, samp {
  font-family: monospace, monospace;
  font-size: 1em;
}
button, input, optgroup, select, textarea {
  color: inherit;
  font: inherit;
  margin: 0;
}
button {
  overflow: visible;
}
button, select {
  text-transform: none;
}
button, html input[type="button"], input[type="reset"], input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
}
button[disabled], html input[disabled] {
  cursor: default;
}
button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0;
}
input {
  line-height: normal;
}
input[type="checkbox"], input[type="radio"] {
  box-sizing: border-box;
  padding: 0;
}
input[type="number"]::-webkit-inner-spin-button, input[type="number"]::-webkit-outer-spin-button {
  height: auto;
}
input[type="search"] {
  -webkit-appearance: textfield;
  box-sizing: content-box;
}
input[type="search"]::-webkit-search-cancel-button, input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}
legend {
  border: 0;
  padding: 0;
}
textarea {
  overflow: auto;
}
optgroup {
  font-weight: bold;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
td, th {
  padding: 0;
}

/*--------------------------------------------------------------
# Typography
--------------------------------------------------------------*/

button, input, select, textarea {
  color: #404040;
  font-family: sans-serif;
  font-size: 14px;
  line-height: 1.5;
}
h1, h2, h3, h4, h5, h6 {
  clear: both;
}
p {
  margin-bottom: 1.5em;
}
dfn, cite, em, i {
  font-style: italic;
}
blockquote {
  margin: 0 1.5em;
}
address {
  margin: 0 0 1.5em;
}
pre {
  background: #eee;
  font-family: "Courier 10 Pitch", Courier, monospace;
  font-size: 15px;
  font-size: 0.9375rem;
  line-height: 1.6;
  margin-bottom: 1.6em;
  max-width: 100%;
  overflow: auto;
  padding: 1.6em;
}
code, kbd, tt, var {
  font-family: Monaco, Consolas, "Andale Mono", "DejaVu Sans Mono", monospace;
  font-size: 15px;
  font-size: 0.9375rem;
}
abbr, acronym {
  border-bottom: 1px dotted #666;
  cursor: help;
}
mark, ins {
  background: #fff9c0;
  text-decoration: none;
}
big {
  font-size: 125%;
}

/*--------------------------------------------------------------
# Elements
--------------------------------------------------------------*/

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  /* Inherit box-sizing to make it easier to change the property for components that leverage other behavior; see http://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/ */
  box-sizing: inherit;
}
body {
  background: #fff;
  /* Fallback for when there is no custom background color defined. */
}
blockquote:before, blockquote:after, q:before, q:after {
  content: "";
}
blockquote, q {
  quotes: "" "";
}
hr {
  border: 0;
  height: 1px;
  margin-bottom: 1.5em;
}
ul, ol {
  margin: 0 0 1.5em 3em;
}
ul {
  list-style: disc;
}
ol {
  list-style: decimal;
}
li > ul, li > ol {
  margin-bottom: 0;
  margin-left: 1.5em;
}
dt {
  font-weight: bold;
}
dd {
  margin: 0 1.5em 1.5em;
}
img {
  height: auto;
  /* Make sure images are scaled correctly. */
  max-width: 100%;
  /* Adhere to container width. */
}
table {
  margin: 0 0 1.5em;
  width: 100%;
}

article p{
  text-align: justify;
}
/*--------------------------------------------------------------
# Forms
--------------------------------------------------------------*/

input[type="text"], input[type="email"], input[type="url"], input[type="password"], input[type="search"], input[type="number"], input[type="tel"], input[type="range"], input[type="date"], input[type="month"], input[type="week"], input[type="time"], input[type="datetime"], input[type="datetime-local"], input[type="color"], textarea {
  color: #666;
  border: 1px solid #ccc;
  border-radius: 3px;
}

input[type="text"]:focus, input[type="email"]:focus, input[type="url"]:focus, input[type="password"]:focus, input[type="search"]:focus, input[type="number"]:focus, input[type="tel"]:focus, input[type="range"]:focus, input[type="date"]:focus, input[type="month"]:focus, input[type="week"]:focus, input[type="time"]:focus, input[type="datetime"]:focus, input[type="datetime-local"]:focus, input[type="color"]:focus, textarea:focus {
  color: #111;
}
input[type="text"], input[type="email"], input[type="url"], input[type="password"], input[type="search"], input[type="number"], input[type="tel"], input[type="range"], input[type="date"], input[type="month"], input[type="week"], input[type="time"], input[type="datetime"], input[type="datetime-local"], input[type="color"] {
  padding: 3px;
}
textarea {
  padding-left: 3px;
  width: 100%;
}
input[type="text"],
  input[type="password"],
  input[type="email"],
  input[type="tel"],
  select,
  textarea {
    -moz-appearance: none;
    -webkit-appearance: none;
    -ms-appearance: none;
    appearance: none;
    -moz-transition: border-color 0.2s ease-in-out;
    -webkit-transition: border-color 0.2s ease-in-out;
    -ms-transition: border-color 0.2s ease-in-out;
    transition: border-color 0.2s ease-in-out;
    background: transparent;
    border-radius: 4px;
    border: solid 1px rgba(255, 255, 255, 0.3);
    color: inherit;
    display: block;
    outline: 0;
    padding: 0 1em;
    text-decoration: none;
    width: 100%;
  }
select {
  /*border: 1px solid #ccc;*/
  padding: 1em 2em;
  text-align: center;
}
/*--------------------------------------------------------------
# Navigation
--------------------------------------------------------------*/


/*--------------------------------------------------------------
## Links
--------------------------------------------------------------*/

a {
  color: #001c36;
}
a:visited {
  color: #004c34;
}
a:hover, a:focus, a:active {
  color: #001c00;
}
/*a:focus {
  outline: thin dotted;
}
a:hover, a:active {
  outline: 0;
}*/

/*--------------------------------------------------------------
## Menus
--------------------------------------------------------------*/

.main-navigation {
  clear: both;
  display: block;
  float: left;
  width: 100%;
}
.main-navigation ul {
  display: none;
  list-style: none;
  margin: 0;
  padding-left: 0;
}
.main-navigation li {
  float: left;
  position: relative;
}
.main-navigation a {
  display: block;
  text-decoration: none;
}
.main-navigation ul ul {
  box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
  float: left;
  position: absolute;
  top: 1.5em;
  left: -999em;
  z-index: 99999;
}
.main-navigation ul ul ul {
  left: -999em;
  top: 0;
}
.main-navigation ul ul a {
  width: 200px;
}
.main-navigation ul ul li {
  width: 100%;
}
.main-navigation li:hover > a, .main-navigation li.focus > a {}
.main-navigation ul ul:hover > a, .main-navigation ul ul .focus > a {}
.main-navigation ul ul a:hover, .main-navigation ul ul a.focus {}
.main-navigation ul li:hover > ul, .main-navigation ul li.focus > ul {
  left: auto;
}
.main-navigation ul ul li:hover > ul, .main-navigation ul ul li.focus > ul {
  left: 100%;
}
.main-navigation .current_page_item > a, .main-navigation .current-menu-item > a, .main-navigation .current_page_ancestor > a, .main-navigation .current-menu-ancestor > a {}

/* Small menu. */

.menu-toggle, .main-navigation.toggled ul {
  display: block;
}
@media screen and (min-width: 37.5em) {
  .menu-toggle {
    display: none;
  }
  .main-navigation ul {
    display: block;
  }
}
.site-main .comment-navigation, .site-main .posts-navigation, .site-main .post-navigation {
  margin: 0 0 1.5em;
  overflow: hidden;
}
.comment-navigation .nav-previous, .posts-navigation .nav-previous, .post-navigation .nav-previous {
  float: left;
  width: 50%;
}
.comment-navigation .nav-next, .posts-navigation .nav-next, .post-navigation .nav-next {
  float: right;
  text-align: right;
  width: 50%;
}
.site-title {
  font-size: 24px;
  line-height: 52px;
  color: #666;
  transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
}
.site-title:hover {
  color: #333;
}
#site-navigation .module.left {
  padding-left: 15px;
}

/*--------------------------------------------------------------
# Accessibility
--------------------------------------------------------------*/


/* Text meant only for screen readers. */

.screen-reader-text {
  clip: rect(1px, 1px, 1px, 1px);
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden;
}
.screen-reader-text:focus {
  background-color: #f1f1f1;
  border-radius: 3px;
  box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
  clip: auto !important;
  color: #21759b;
  display: block;
  font-size: 14px;
  font-size: 0.875rem;
  font-weight: bold;
  height: auto;
  left: 5px;
  line-height: normal;
  padding: 15px 23px 14px;
  text-decoration: none;
  top: 5px;
  width: auto;
  z-index: 100000;
  /* Above WP toolbar. */
}

/* Do not show the outline on the skip link target. */

#content[tabindex="-1"]:focus {
  outline: 0;
}

/*--------------------------------------------------------------
# Alignments
--------------------------------------------------------------*/

.alignleft {
  display: inline;
  float: left;
  margin-right: 1.5em;
}
.alignright {
  display: inline;
  float: right;
  margin-left: 1.5em;
}
.aligncenter {
  clear: both;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/*--------------------------------------------------------------
# Clearings
--------------------------------------------------------------*/

.clear:before, .clear:after, .entry-content:before, .entry-content:after, .comment-content:before, .comment-content:after, .site-header:before, .site-header:after, .site-content:before, .site-content:after, .site-footer:before, .site-footer:after {
  content: "";
  display: table;
  table-layout: fixed;
}
.clear:after, .entry-content:after, .comment-content:after, .site-header:after, .site-content:after, .site-footer:after {
  clear: both;
}


/*--------------------------------------------------------------
# Widgets - Cloud tags
--------------------------------------------------------------*/
.tagcloud a{
  background-color: #004c34;
    margin-right: 0.2em;
    padding: 0.4em 1em;
    border-radius: 2px;
    color: #FFF;
    font-size: 10px !important;
}
.tagcloud a:hover{
  color: #fff;
}

/*--------------------------------------------------------------
# Content
--------------------------------------------------------------*/


/*--------------------------------------------------------------
## Posts and pages
--------------------------------------------------------------*/

.sticky {
  display: block;
}
.hentry {
  margin: 0 0 1.5em;
}
.byline, .updated:not(.published) {
  display: none;
}
.single .byline, .group-blog .byline {
  display: inline;
}
.page-links {
  clear: both;
  margin: 0 0 1.5em;
}

/*--------------------------------------------------------------
## Asides
--------------------------------------------------------------*/

.blog .format-aside .entry-title, .archive .format-aside .entry-title {
  display: none;
}

/*--------------------------------------------------------------
## Comments
--------------------------------------------------------------*/

.comment-content a {
  word-wrap: break-word;
}
.bypostauthor {
  display: block;
}

/*--------------------------------------------------------------
# Infinite scroll
--------------------------------------------------------------*/


/* Globally hidden elements when Infinite Scroll is supported and in use. */

.infinite-scroll .posts-navigation,
/* Older / Newer Posts Navigation (always hidden) */

.infinite-scroll.neverending .site-footer {
  /* Theme Footer (when set to scrolling) */
  display: none;
}

/* When Infinite Scroll has reached its end we need to re-display elements that were hidden (via .neverending) before. */

.infinity-end.neverending .site-footer {
  display: block;
}

/*--------------------------------------------------------------
# Media
--------------------------------------------------------------*/

.page-content .wp-smiley, .entry-content .wp-smiley, .comment-content .wp-smiley {
  border: none;
  margin-bottom: 0;
  margin-top: 0;
  padding: 0;
}

/* Make sure embeds and iframes fit their containers. */

embed, iframe, object {
  max-width: 100%;
}

/*--------------------------------------------------------------
## Captions
--------------------------------------------------------------*/

.wp-caption {
  margin-bottom: 1.5em;
  max-width: 100%;
}
.wp-caption img[class*="wp-image-"] {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.wp-caption .wp-caption-text {
  margin: 0.8075em 0;
}
.wp-caption-text {
  text-align: center;
}

/*--------------------------------------------------------------
## Galleries
--------------------------------------------------------------*/

.gallery {
  margin-bottom: 1.5em;
}
.gallery-item {
  display: inline-block;
  text-align: center;
  vertical-align: top;
  width: 100%;
}
.gallery-columns-2 .gallery-item {
  max-width: 50%;
}
.gallery-columns-3 .gallery-item {
  max-width: 33.33%;
}
.gallery-columns-4 .gallery-item {
  max-width: 25%;
}
.gallery-columns-5 .gallery-item {
  max-width: 20%;
}
.gallery-columns-6 .gallery-item {
  max-width: 16.66%;
}
.gallery-columns-7 .gallery-item {
  max-width: 14.28%;
}
.gallery-columns-8 .gallery-item {
  max-width: 12.5%;
}
.gallery-columns-9 .gallery-item {
  max-width: 11.11%;
}
.gallery-caption {
  display: block;
}

/*!
// Contents
// ------------------------------------------------
 1. Global Styles
 2. Mixins
 3. Typography
 4. Colours
 5. Sections
 6. Buttons
 7. Nav
 8. Forms
 9. Breadcrumbs
 10. Pagination
 11. Icon Features
 12. Widgets
 13. Image Tiles
 14. Sliders
 15. Galleries
 16. Header Area
 17. WooCommerce
 18. Blog
 19. Image Blocks
 20. Portfolio
 21. Footer
 22. Spacing
 23. Other
/*!---------- 1. GLOBAL STYLES ----------*/

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 14px;
  line-height: 24px;
  font-family: 'Lato', "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #666;
  overflow-x: hidden;
}
ul {
  list-style: none;
}
p{
  color: rgb(146,146,146);
}
.main-container {
  clear: both;
}
hr {
  border: none;
  border-top: 1px solid #ccc;
  margin: 0 0 24px 0;
  width: 100%;
}
.bg-dark hr {
  border-color: #555;
}
.content hr {
  width: 128px;
  max-width: 60%;
  height: 2px;
  background: #DDD;
  margin: 50px auto;
  border: 0;
}
.list-inline {
  margin-left: 0;
}
.list-inline > li {
  padding: 0 8px;
}
.list-inline > li:last-child {
  padding-right: 0;
}
.list-inline > li:first-child {
  padding-left: 0;
}
.overflow-hidden {
  overflow: hidden;
}
.right {
  right: 0;
}
.relative {
  position: relative;
  z-index: 2;
}
.container {
  position: relative;
}

/*!---------- 2. MIXINS ----------*/

.align-children {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  align-items: center;
  -webkit-align-items: center;
  justify-content: center;
  -webkit-justify-content: center;
  flex-direction: row;
  -webkit-flex-direction: row;
}
@media all and (max-width: 991px) {
  .align-children {
    display: block !important;
  }
}
.align-transform {
  position: relative;
  transform: translate3d(0, -50%, 0);
  -webkit-transform: translate3d(0, -50%, 0);
  top: 50%;
  z-index: 2;
}

/*!---------- 3. TYPOGRAPHY ----------*/

h1, h2, h3, h4, h5, h6, p, ul, ol, table, blockquote, input, textarea {
  margin-bottom: 24px;
  margin-top: 0;
  padding: 0;
}
h1, h2, h3, h4, h5, h6 {
  font-family: 'Montserrat', "Raleway", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
h1, h2, h3, h4, h5, h6 {
  font-weight: 700;
  color: #001c36;
}
h1 {
  font-size: 56px;
  line-height: 64px;
}
h2 {
  font-size: 40px;
  line-height: 48px;
}
h3 {
  font-size: 32px;
  line-height: 40px;
}
h4 {
  font-size: 24px;
  line-height: 32px;
}
h5 {
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
}
h6 {
  font-size: 12px;
  line-height: 24px;
  font-weight: 700;
}
@media all and (max-width: 767px) {
  h1 {
    font-size: 32px;
    line-height: 40px;
    font-weight: 300;
  }
  h2 {
    font-size: 32px;
    line-height: 40px;
  }
  h3 {
    font-size: 24px;
    line-height: 32px;
  }
  h4 {
    font-size: 18px;
    line-height: 26px;
  }
  h5 {
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
  }
  h6 {
    font-size: 12px;
    line-height: 24px;
    font-weight: 700;
  }
}
.uppercase {
  font-weight: 400;
  text-transform: uppercase;
}
h5.uppercase {
  letter-spacing: 2px;
  margin-right: -2px;
}
p, span {
  word-wrap: break-word;
  font-weight: 400;
}
p.lead {
  font-size: 16px;
  font-weight: 400;
  line-height: 28px;
}
@media all and (max-width: 767px) {
  p.lead {
    font-size: 13px;
    line-height: 24px;
  }
  p {
    font-size: 12px;
  }
}
a, a:visited, a:focus, a:active, a:hover {
  text-decoration: none;
  outline: none;
}
a {
  font-weight: 600;
  color: #001c36;
  transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  cursor: poitner;
}
.image-bg a {
  color: #fff;
}
.image-bg a:hover {
  color: #fff;
  opacity: .9;
}
a:hover {
  color: #004c34;
  text-decoration: none;
}
blockquote {
  overflow: hidden;
  font-family: "Merriweather", "Georgia", Times New Roman, Times, serif;
  font-size: 20px;
  line-height: 40px;
  font-style: italic;
  background: #f5f5f5;
  padding: 32px;
  color: #777;
  font-weight: 300;
}
/*.number {
  font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
}*/
@media all and (max-width: 767px) {
  br {
    display: none;
  }
  blockquote {
    font-size: 16px;
    line-height: 32px;
  }
}
th, td {
  line-height: 24px !important;
}

/*!---------- 4. COLOURS ----------*/
.bg-white{
  background: #FFF;
}
.bg-primary {
  background: #745cf9 !important;
}
.bg-secondary {
  background: #f5f5f5;
}
.bg-dark {
  background: #0e1015;
}

.bg-image{
  background: url('inc/img/back1.jpg');
  background-position: center;
  margin-top: 1em;
}
.bg-image h3, .bg-image a, .bg-image p{
  color: #FFF;
}
/*!---------- 5. SECTIONS ----------*/

section, footer {
  padding: 96px 0;
  position: relative;
  overflow: hidden;
}
section.error-404{
  padding-top: 0;
}
section.content-area {
  padding-top: 0;
  /*padding: 0 0 96px;*/
}
section.content-area.outside{
  padding-top: 3em;
}
footer {
  padding: 72px 0;
}
.fullscreen {
  height: 100vh;
}
.bg-dark h3, .bg-dark h5, footer.bg-dark h5, .bg-primary h5, .bg-dark h6, footer.bg-dark h6 {
  color: #ffffff;
}
.bg-dark p, footer.bg-dark p, .bg-primary p, .bg-dark span, footer.bg-dark span, .bg-dark li, footer.bg-dark li {
  color: #fefefe;
}
@media all and (max-width: 767px) {
  section {
    padding: 80px 0;
  }
}
.image-bg h3, .image-bg h1 {
  color: #ffffff;
}
.image-bg p, .image-bg li {
  color: #ffffff;
}
.image-bg div[class*='col-'] {
  position: relative;
  z-index: 3;
}
.background-image-holder {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 1;
  background: #0e1015;
  background-size: cover !important;
  background-position: 50% 50% !important;
  transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  opacity: 0;
}
.background-image-holder img {
  display: none;
}
.background-image-holder.fadeIn {
  opacity: 1;
}

/*!---------- 6. BUTTONS ----------*/

.btn, .button {
  font-family: "Raleway", "Helvetica Neue", Helvetica, Arial, sans-serif;
  border: 2px solid #001c36;
  padding: 0 26px;
  min-width: 150px;
  line-height: 36px;
  font-size: 12px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  border-radius: 0;
  color: #001c36;
  text-align: center;
  transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  margin-right: 8px;
  margin-bottom: 24px;
}
.btn:last-child, .btn:last-of-type {
  margin-right: 0;
}
.btn:hover, .button:hover {
  background: #004c34;
  border-color: #004c34;
  color: #fff;
}
.btn-lg {
  height: 50px;
  line-height: 46px;
  min-width: 200px;
}
.btn-sm {
  height: 30px;
  font-size: 11px;
  line-height: 27px;
  min-width: 0;
}
.btn-filled, .button, .woocommerce #respond input#submit.alt, .woocommerce a.button.alt, .woocommerce button.button.alt, .woocommerce input.button.alt, .woocommerce #respond input#submit, .woocommerce a.button, .woocommerce button.button, .woocommerce input.button {
  background: #001c36;
  color: #fff;
}
.woocommerce #respond input#submit, .woocommerce a.button, .woocommerce button.button, .woocommerce input.button {
  padding: 1em;
}
.btn-white, .image-bg .btn, .image-bg .btn:visited {
  color: #fff;
  border-color: #fff;
}
.image-bg .btn.btn-filled {
  background: #001c36;
  color: #fff;
  border-color: #001c36;
}
.btn-white:hover, .image-bg .btn:hover, .image-bg .btn:visited:hover {
  background: #fff;
  border-color: #fff;
  color: #222;
}
.image-bg .btn.btn-filled:hover, .woocommerce #respond input#submit.alt:hover, .woocommerce a.button.alt:hover, .woocommerce button.button.alt:hover, .woocommerce input.button.alt:hover, .woocommerce #respond input#submit:hover, .woocommerce a.button:hover, .woocommerce button.button:hover, .woocommerce input.button:hover {
  background: #004c34;
  border-color: #004c34;
  color: #fff;
}
.btn:visited {
  color: #004c34;
}
.btn-white:visited, .btn:visited:hover {
  color: #fff;
}
.btn-white:visited:hover {
  color: #222;
}
.btn-filled:visited {
  color: #fff;
}
.cfa-text {
  margin-bottom: 0;
  line-height: 45px;
}
.cfa-button {
  width: 100%;
}
.btn-filled:hover, .btn:visited:hover {
  background: #004c34;
  border-color: #004c34;
}
input[type="submit"]:hover {
  background-color: #004c34;
  color: #fff;
}
.widget input[type="submit"] {
  border: none;
  margin-top: 5px;
}
.widget input[type="submit"]:hover {
  color: #001c36;
  background-color: #fff;
}

/*!---------- 7. NAVIGATION ----------*/

.nav-container {
  -webkit-backface-visibility: hidden;
  max-width: 100%;
}
nav {
  background: #fff;
  -webkit-backface-visibility: hidden;
  max-width: 100%;
}
nav ul {
  margin-bottom: 0;
}
.module {
  display: inline-block;
  padding: 0 32px;
}
.module-group {
  display: inline-block;
}
.module.left {
  float: left;
}
.module.right, .module-group.right {
  float: right;
}
nav .btn, .nav-bar .btn {
  margin: 0;
  height: auto;
}
.nav-bar {
  height: 55px;
  max-height: 55px;
  line-height: 53px;
}
nav {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}
.nav-bar .module, .nav-bar .module-group {
  height: 55px;
}
.nav-bar a {
  display: inline-block;
  height: 55px;
}
.logo {
  max-height: 60%;
}
.menu > li.dropdown {
  padding-right: 18px;
}
.dropdown:after {
  position: absolute;
  top: 0;
  right: 0;
  font-size: 11px;
  content: "\f107";
  font-family: 'fontawesome';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
}
.menu {
  width: 100%;
  height: 55px;
  font-family: "Raleway", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.menu li a {
  font-size: 11px;
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 1px;
  color: #0e1015;
  opacity: 0.5;
  transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  max-width: 100%;
  white-space: normal;
}
.menu li a:hover {
  opacity: 1 !important;
}
.menu > li {
  margin-right: 32px;
  float: left;
  position: relative;
  transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  opacity: 1;
}
.menu > li:last-child {
  margin-right: 0;
}
.menu > li ul {
  left: 0;
  width: 200px;
  padding: 0;
  background: #0e1015;
  position: absolute;
  z-index: 99;
  top: 100%;
  opacity: 0;
  transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  transform: translate3d(0, 10px, 0);
  -webkit-transform: translate3d(0, 10px, 0);
  -moz-transform: translate3d(0, 10px, 0);
  visibility: hidden;
  margin-top: -1px;
}
.menu > li > ul > li {
  position: relative;
  line-height: 24px;
  width: 100%;
  vertical-align: top;
}
.menu > li > ul > .dropdown:after {
  color: #0e1015;
  top: 3px;
  right: 24px;
  content: "\f105";
}
.menu > li > ul li a {
  color: #fff;
  height: auto;
  padding: 6px 24px;
}
.menu > li > ul > li > ul {
  left: 100%;
  top: 0;
}
.menu > li:hover > ul {
  opacity: 1;
  transform: translate3d(0, 0px, 0);
  -webkit-transform: translate3d(0, 0px, 0);
  -moz-transform: translate3d(0, 0px, 0);
  visibility: visible;
}
.menu > li > ul > li:hover > ul {
  opacity: 1;
  transform: translate3d(0, 0px, 0);
  -webkit-transform: translate3d(0, 0px, 0);
  -moz-transform: translate3d(0, 0px, 0);
  visibility: visible;
}
nav.outOfSight {
  transform: translate3d(0, -200px, 0);
  -webkit-transform: translate3d(0, -200px, 0);
  -moz-transform: translate3d(0, -200px, 0);
  transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
}
nav.scrolled {
  transform: translate3d(0, 0px, 0);
  -webkit-transform: translate3d(0, 0px, 0);
  -moz-transform: translate3d(0, 0px, 0);
}
nav.fixed.scrolled {
  visibility: visible;
  opacity: 1;
}
nav.fixed {
  top: 0;
  width: 100%;
  z-index: 999;
  left: 0;
  right: 0;
}
nav.fixed {
  position: fixed;
  visibility: hidden;
  opacity: 0;
}
nav.fixed.scrolled {
  visibility: visible;
  opacity: 1;
}
.dropdown-menu {
  border-radius: 0;
}
.nav-open {
  max-height: 10000px !important;
  height: auto !important;
}
.nav-open .navbar-collapse, .nav-open #menu {
  display: block;
}
.module.widget-handle {
  padding: 0 24px;
  cursor: pointer;
  position: relative;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  margin: 0;
}
@media all and (max-width: 1100px) {
  .module.widget-handle {
    padding: 0 16px;
  }
}
@media all and (max-width: 991px) {
  .toggle-sub > ul {
    display: block !important;
  }
}
.module.widget-handle i {
  font-size: 20px;
  line-height: 53px;
  opacity: 0.5;
  transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
}
.module.widget-handle:hover i {
  opacity: 1;
}
.widget-handle .function {
  -webkit-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
  cursor: default;
  width: 200px;
  background: #0e1015;
  position: absolute;
  z-index: 99;
  opacity: 0;
  transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  transform: translate3d(0, 10px, 0);
  -webkit-transform: translate3d(0, 10px, 0);
  -moz-transform: translate3d(0, 10px, 0);
  visibility: hidden;
  margin-top: -2px;
  right: 0;
}
.module.widget-handle:hover .function {
  opacity: 1;
  transform: translate3d(0, 0px, 0);
  -webkit-transform: translate3d(0, 0px, 0);
  -moz-transform: translate3d(0, 0px, 0);
  visibility: visible;
}
.module.widget-handle .title {
  font-family: "Raleway", "Helvetica Neue", Helvetica, Arial, sans-serif;
  letter-spacing: 1px;
  text-transform: uppercase;
  font-size: 11px;
  font-weight: 600;
  display: none;
  opacity: .5;
  transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
}
.module.widget-handle .title:hover {
  opacity: 1;
}

/* Search bar */

.search-form {
  padding: 8px;
  display: inline-block;
  width: 100%;
  line-height: 50px;
}
.widget .search-form {
  padding: 0;
}
.widget .search-form .searchsubmit {
  display: none;
}
.widget-handle .search-form input[type="text"] {
  font-size: 16px;
  float: left;
  width: 70%;
}
.search-form input[type="text"] {
  font-size: 14px;
  margin: 0;
}

.widget-handle .function {
  background: #fff;
  width: 300px;
}
.btn.searchsubmit {
  min-width: 17%;
  padding: 0;
  width: 27%;
  height: 50px;
  line-height: 48px;
  margin: -2px 0 0 8px;
}
.btn.searchsubmit:hover {
  background-color: #004c34;
  color: #fff;
}

/*Search Page */

.search #primary, .no-results {
  padding-top: 0
}
.no-results {
  border-bottom: 0;
}
.no-results form.search-form {
  /*max-width: 500px;*/
  padding: 0;
  width: 100%;
}
.no-results form #s {
  /*max-width: 292px;
  width: 71%;*/
}
.no-results form .searchsubmit {
  margin: 0;
  margin-top: 1em;
  float: right;
}
.error-404.not-found form #searchsubmit {
    margin: 0;
    margin-top: 1em;
    float: left;
}
.menu > li ul {
  background: #fff;
}
.menu > li ul {
  background: #fff;
}
.menu > li > ul li a {
  color: #001c36;
  width: 100%;
}
.menu > li > ul li a:hover {
  background: #004c34;
  color: #fff;
}
.menu > li > ul > .dropdown:hover:after {
  color: #fff;
}
@media all and (max-width: 1120px) {
  .menu > li {
    margin-right: 24px;
  }
}
@media all and (max-width: 991px) {
  .nav-bar, .nav-bar .module-group, .nav-bar .module {
    height: auto;
    overflow: hidden;
  }
  .nav-bar .module {
    padding: 0 16px;
  }
  .nav-bar .module-group {
    width: 100%;
    padding: 16px 0;
  }
  .nav-bar .module-group .module {
    display: block;
    float: none;
    width: 100%;
  }
  .menu {
    height: auto;
  }
  .menu a {
    height: auto;
    line-height: 24px;
    padding: 4px 0;
  }
  .menu li {
    line-height: 24px;
    float: none;
    display: block;
    width: 100%;
    max-width: 100%;
  }
  .menu > li ul {
    position: relative;
    width: 100%;
    opacity: 1;
    visibility: visible;
    transform: translate3d(0, 0px, 0);
    -webkit-transform: translate3d(0, 0px, 0);
    -moz-transform: translate3d(0, 0px, 0);
    left: 0;
  }
  .menu > li > ul {
    position: relative;
    opacity: 1;
    visibility: visible;
    display: none;
    transform: translate3d(0, 0px, 0);
    -webkit-transform: translate3d(0, 0px, 0);
    -moz-transform: translate3d(0, 0px, 0);
  }
  .menu > li > ul > .dropdown:after {
    content: "\f107";
  }
  .menu > li > ul > li > ul {
    left: 0;
    display: none;
    padding: 0;
  }
  .menu > li > ul li a {
    padding: 4px 16px;
  }
  .dropdown .dropdown li {
    padding-left: 18px;
  }
  .dropdown {
    padding-right: 0;
  }
  .module.widget-handle {
    border-left: none;
    line-height: 40px;
    min-height: 40px;
  }
  .module.widget-handle i {
    line-height: 40px;
  }
  .module.widget-handle .title {
    display: inline-block;
    position: relative;
    bottom: 3px;
    margin-left: 8px;
  }
  .widget-handle .function {
    width: 100%;
    max-width: 300px;
    position: relative;
    opacity: 1;
    transform: translate3d(0, 0px, 0);
    -webkit-transform: translate3d(0, 0px, 0);
    -moz-transform: translate3d(0, 0px, 0);
    visibility: visible;
    margin-top: 0;
    display: none;
    box-shadow: none !important;
  }
  .toggle-search .function {
    display: block;
  }
  .search-widget-handle .search {
    padding: 0 15px;
  }
  .mobile-toggle i {
    line-height: 53px !important;
  }
}

/*!---------- 8. FORMS ----------*/

input, textarea {
  font-family: "Raleway", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
input[type="text"], textarea {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
input[type="text"], input[type="search"], input[type="email"], input[type="tel"] {
  background: #f5f5f5;
  border: none;
  width: 100%;
  height: 50px;
  padding-left: 20px;
  font-weight: 500;
  margin-bottom: 24px;
  border-radius: 0;
}
.page-content input[type="text"], 
.page-content input[type="search"],
.page-content input[type="email"],
.page-content input[type="tel"]{
  background: #ffffff;
  border: 1px solid rgba(0, 28, 54, 0.43);
}
input[type="text"]:focus, input[type="search"]:focus {
  outline: 1px solid #ccc;
}
textarea {
  width: 100%;
  border: none;
  background: #f5f5f5;
  margin-bottom: 24px;
  border-radius: 0;
  padding: 16px 20px;
}
textarea:focus {
  outline: 1px solid #ccc;
}
:-moz-placeholder {
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 1px;
  color: #777;
  font-size: 11px;
}
::-moz-placeholder {
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 1px;
  color: #777;
  font-size: 11px;
}
:-ms-input-placeholder {
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 1px;
  color: #777;
  font-size: 11px;
}
input.transparent::-moz-input-placeholder, button.transparent::-moz-input-placeholder {
  color: #fff;
}
input.transparent:-moz-input-placeholder, button.transparent:-moz-input-placeholder {
  color: #fff;
}
input.transparent:-ms-input-placeholder, button.transparent:-ms-input-placeholder {
  color: #fff;
}
input[type="submit"] {
  background: #001c36;
  border-radius: 0 !important;
  border: 2px solid #001c36;
  color: #fff;
  font-size: 11px;
  font-weight: bold;
  height: 50px;
  letter-spacing: 1px;
  line-height: 48px;
  max-width: 250px;
  padding: 0;
  text-transform: uppercase;
  width: 100%;
}
.bg-primary input[type="submit"] {
  background: #fff;
  color: #001c36;
}
input[type="submit"]:focus {
  outline: none;
}

/*!---------- 9. BREADCRUMBS ----------*/

.breadcrumb {
  margin-bottom: 24px;
}
.breadcrumb a {
  font-weight: 300;
}

/*!---------- 10. PAGINATION ----------*/

.pagination {
  margin: 0;
}
/*.pagination li {
  font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
}*/
.pagination li a {
  width: 32px;
  height: 32px;
  padding: 0;
  text-align: center;
  padding-top: 6px;
  margin: 0 4px;
  color: #0e1015;
  font-weight: 400;
}
.pagination li a:hover, .pagination li.active a, .pagination li.active:hover a {
  background: #004c34;
  color: #fff;
  border-color: #004c34;
}

/*!---------- 11. ICON FEATURES ----------*/

.feature {
  margin-bottom: 24px;
}
.feature p:last-child {
  margin-bottom: 0;
}
.feature-1 i {
  display: inline-block;
  margin-bottom: 16px;
  color: #745cf9;
}
.page-title {
  padding: 0;
}

/*!---------- 12. WIDGETS ----------*/

.main-container .nolist>ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
.widget {
  margin: 0 0 1.5em;
  margin-bottom: 48px;
}

/* Make sure select elements fit in widgets. */

.widget select {
  max-width: 100%;
}

.category-list {
  line-height: 32px;
}
.widget .widget-title {
  border-bottom: 1px solid #ccc;
  font-family: "Raleway", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 12px;
  line-height: 24px;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 700;
  margin-bottom: 12px;
  padding-bottom: 10px;
}

/*This two configurations below, reset the defaul trom bootstrap*/
#secondary {
  padding: 0 !important;
  padding-bottom: 1em !important;
}
#secondary section > *:not(h2){
    padding-right: 15px;
    padding-left: 15px;
}

/*Reset de error from link created randomly*/
#secondary section > a,
#secondary > a{
  display: none;
}
section.widget:first-child .widget-title{
  border-radius: 5px 5px 0 0;
}
#secondary .widget .widget-title {
    text-align: center;
    font-size: 20px;
    padding-top: 15px;
    background-color: #004c34;
    /*background-color: #001c36;*/
    color: #FFF;
}
#secondary .widget-title a{
  color: #FFF;
  text-decoration: none;
}
.footer-widget .widget-title {
  border-bottom: 1px solid #555;
  color: #fff;
}
.widget hr {
  margin-bottom: 12px;
}
.recent-posts {
  line-height: 24px;
}
.recent-posts li {
  margin-bottom: 8px;
  transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
}
.recent-posts .date {
  display: block;
  letter-spacing: 0;
  opacity: .8;
}
.recent-posts li:hover .date {
  opacity: 1;
}

.recent-posts li{ /*o mesmo que .recent-posts li*/
  position: relative;
  width: 100%;
  /*height: 218px;*/
  overflow: hidden;
  border-radius: 0.3125rem;
  text-shadow: 0px 0px 2px #131212;

}
.recent-posts li:after{
  position: absolute;
  width: 100%;
  height: 100%;
  bottom: 0;
  left: 0;
  content: '';
  z-index: 9;
  background-image: linear-gradient(-180deg,transparent,rgba(0,0,0,.64) 65%);   
  overflow: hidden;
  border-radius: 0 0 .25rem .25rem;
}
.recent-posts li footer{
  position: absolute;
  bottom: 0;
  left: 0;
  padding: .625rem;
  width: 100%; 
  z-index: 10;
}
.recent-posts li h4,
.recent-posts li time.date{
  color: #FFF;
}
.recent-posts li h4{
  font-size: 18px;
  text-transform: uppercase;
  line-height: 1.2em;
}

.recent-posts li span {
  color: #99ff00;
}
.recent-posts li h4{
  margin:0;
  word-wrap: break-word;
}

.recent-posts li time.date{
  float: right;
}
/*************************
** MORE READ WIDGET
**************************/
.moreread-widget-area{
  margin-top: 3em;
}
.moreread-posts {
  line-height: 24px;
  padding: 0;
}
.moreread-posts footer{
  padding: 1em 0;
}
.moreread-posts .post-content {
  margin-bottom: 8px;
  transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  position: relative;
  overflow: hidden;
  min-height: 400px;
  border-radius: 0.3125rem;
    /*width: 100%;*/
  /*height: 500px;*/
  /*margin:0.5em;*/

}
.moreread-posts .date {
  display: block;
  letter-spacing: 0;
  opacity: .8;
}
.moreread-posts div:hover .date {
  opacity: 1;
}

.moreread-posts footer .thumb-content{
  /*height: 218px;*/
  overflow: hidden;
  border-radius: 5px;
}
.moreread-posts footer h4,
.moreread-posts footer span,
.moreread-posts footer time{
  display: block;
  text-align: center;
}
.moreread-posts footer h4{
  /*margin-top: 0.1em;*/
  line-height: 1.2em;
  font-size: 1.2em;
  text-transform: uppercase;
}
.moreread-posts footer span,
.moreread-posts footer time{
  color: #004c34;
}
/*.moreread-posts div:after{
  position: absolute;
  width: 100%;
  height: 100%;
  bottom: 0;
  left: 0;
  content: '';
  z-index: 9;
  background-image: linear-gradient(-180deg,transparent,rgba(0,0,0,.64) 65%);   
  overflow: hidden;
  border-radius: 0 0 .25rem .25rem;
}*/
/*.moreread-posts div footer{
  position: absolute;
  bottom: 0;
  left: 0;
  padding: .625rem;
  width: 100%; 
  z-index: 10;
}*/
/*.moreread-posts div h4,
.moreread-posts div time.date{
  color: #FFF;
}*/

/*.moreread-posts div span {
  color: #99ff00;
}*/
.moreread-posts div h4{
  margin:0;
  margin-top: 0.1em;
  word-wrap: break-word;
}

/*.moreread-posts div time.date{
  float: right;
}*/
/*.moreread-posts .post-content{
  display: inline-block;
  width: 33%;
}*/

/***************************/

.post-content img{
  width: 100%;
}

.category-list span {
  float: right;
}
.jetpack_subscription_widget form {
  background: #745cf9;
  color: #fff;
  padding: 24px;
}
.jetpack_subscription_widget form #subscribe-text {
  color: #fff;
}
.jetpack_subscription_widget #subscribe-text h5 {
  color: #fff;
  margin-bottom: 16px;
  text-transform: uppercase;
}
.jetpack_subscription_widget #subscribe-text p {
  color: #fefefe;
}
.jetpack_subscription_widget #subscribe-email, .jetpack_subscription_widget #subscribe-submit {
  margin: 0;
}
.jetpack_subscription_widget #subscribe-email input {
  margin: 0;
  padding: 3px 3px 3px 20px;
  width: 100%;
}
.jetpack_subscription_widget #subscribe-submit input {
  background: #fff;
  color: #745cf9;
  padding: 0;
}
.jetpack_subscription_widget .error {
  background-color: #FFBABA;
  color: #D8000C;
  padding: 5px 15px;
}
.jetpack_subscription_widget .success p {
  background-color: #DFF2BF;
  color: #4F8A10;
  padding: 5px 15px;
}

/*!---------- 13. IMAGE TILES ----------*/

img {
  max-width: 100%;
}
.image-tile {
  overflow: hidden;
  position: relative;
  margin-bottom: 24px;
}
.image-tile img {
  width: 100%;
  display: inline-block;
}
.inner-title:before {
  transition: all 0.5s ease;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background: -moz-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(34, 34, 34, 0.9) 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(0, 0, 0, 0)), color-stop(100%, rgba(34, 34, 34, 0.9)));
  background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(34, 34, 34, 0.9) 100%);
  background: -o-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(34, 34, 34, 0.9) 100%);
  background: -ms-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(34, 34, 34, 0.9) 100%);
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(34, 34, 34, 0.9) 100%);
  filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#00000000', endColorstr='#0e1015', GradientType=0);
  pointer-events: none;
}
.inner-title:hover:before {
  transform: scale(1.2);
  -webkit-transform: scale(1.2);
}
.inner-title .title {
  position: absolute;
  width: 100%;
  z-index: 5;
}
.inner-title .title h5 {
  color: #ffffff;
}
.inner-title .title span {
  color: #ffffff;
}
.inner-title .title h5 {
  font-weight: 600;
}
.inner-title {
  transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  opacity: 1;
}
.inner-title:hover {
  opacity: .95;
}
.inner-title.hover-reveal:before {
  opacity: 0;
}
.inner-title.hover-reveal .title {
  opacity: 0;
  transform: translate3d(0, 50px, 0);
  -webkit-transform: translate3d(0, 50px, 0);
  -moz-transform: translate3d(0, 50px, 0);
  transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
}
.inner-title.hover-reveal:hover .title {
  opacity: 1;
  transform: translate3d(0, -50%, 0);
  -webkit-transform: translate3d(0, -50%, 0);
  -moz-transform: translate3d(0, -50%, 0);
  -webkit-transform: translate3d(0, -50%, 0);
  top: 50%;
}
.inner-title.hover-reveal:hover:before {
  opacity: 1;
}

/*!---------- 14. SLIDERS ----------*/

.logo-carousel li {
  text-align: center;
}
.logo-carousel li {
  transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  opacity: .5;
}
.logo-carousel li:hover {
  opacity: 1;
}
.logo-carousel img {
  max-height: 60px;
}
@media all and (max-width: 767px) {
  .logo-carousel .slides li {
    width: 100%;
  }
}

/*!---------- 15. IMAGE GALLERIES ----------*/

.lightbox-grid, .lightbox-grid ul, .lightbox-grid li {
  position: relative;
  overflow: hidden;
}
.lightbox-grid li {
  width: 25%;
  float: left;
  border: 8px solid rgba(0, 0, 0, 0);
  transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  opacity: 1;
}
.lightbox-grid li:hover {
  opacity: .9;
}
.third-thumbs li {
  width: 25%;
  height: 13.08vw;
  border: none;
}
@media all and (max-width: 991px) {
  .lightbox-grid li {
    width: 33.33333%;
  }
}
@media all and (max-width: 767px) {
  .lightbox-grid li {
    width: 50%;
  }
  .third-thumbs li {
    height: 50vw;
  }
}

/*!---------- 16. Header Area ----------*/

.cover {
  margin: 0;
  padding: 0;
}
.cover p {
  color: #ffffff;
}
.cover:first-child .fullscreen {
  max-height: 100%;
}
@media all and (max-width: 767px) {
  .cover.fullscreen {
    height: auto;
    padding: 0;
  }
}

/*!---------- 17. WooCommerce ----------*/

.woocommerce ul.products li.product:nth-child(4n), .woocommerce-page ul.products li.product:nth-child(4n) {
  margin-right: 0;
}

/*!---------- 18. BLOG ----------*/

.post-title a, .post-title {
  font-size: 40px;
  font-weight: 700;
  word-wrap: break-word;
}

/*.post-title a:hover {
  color: #292929;
}*/
video:-webkit-full-screen, audio:-webkit-full-screen {
  -webkit-transform: translateY(0%);
}
iframe {
  border: none;
}
.post-meta {
  overflow: hidden;
  display: inline-block;
  margin-bottom: 12px;
  font-size: 1.5em;
  margin: 0;
}
.post-meta > li {
  float: left;
  /*margin-right: 24px;*/
  margin-right: 5px;
}
.post-meta i {
  font-size: 16px;
  margin-right: 8px;
  position: relative;
  top: 2px;
}
.comments-list, .comments-list ul {
  width: 100%;
  overflow: hidden;
}
.comments.nolist>ul>li {
  padding-left: 0;
}
.comments-list li.comment {
  overflow: hidden;
  margin-bottom: 40px;
  width: 100%;
}
.comments-list p:last-of-type {
  margin: 0;
}
.comments-list .avatar, .comments-list .comment {
  display: inline-block;
  float: left;
}
.comments-list .avatar {
  width: 10%;
}
.comments-list .avatar img {
  width: 75px;
}
.comments-list .comment {
  width: 90%;
  padding-left: 5%;
}
.comments-list .comment .btn {
  position: relative;
  margin: 0;
}
.comments-list ul {
  padding-left: 10%;
  padding-top: 40px;
}
.comments-list ul li:last-of-type {
  margin-bottom: 0;
}
.comments input[type="submit"] {
  max-width: 25%;
  float: right;
}
.masonry {
  transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  opacity: 0;
  transform: translate3d(0, 100px, 0);
  -webkit-transform: translate3d(0, 100px, 0);
  -moz-transform: translate3d(0, 100px, 0);
}
.masonry.fadeIn {
  opacity: 1;
  transform: translate3d(0, 0, 0);
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
}
.masonry-item {
  max-width: 100%;
}
.container .masonry-item {
  margin-bottom: 0px;
}
.masonry-item blockquote:hover {
  background: #745cf9;
  transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  color: #fff;
}
.masonryFlyIn .masonry-item {
  opacity: 0;
  transform: translate3d(0, 50px, 0);
  -webkit-transform: translate3d(0, 50px, 0);
  -moz-transform: translate3d(0, 50px, 0);
}
.masonryFlyIn .masonry-item.fadeIn {
  opacity: 1;
  transform: translate3d(0, 0, 0);
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
}
.masonry-loader {
  transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  opacity: 1;
  position: absolute;
  width: 100%;
  z-index: 10;
  top: 80px;
}
.masonry-loader.fixed-center {
  top: 50%;
  left: 50%;
  transform: translate3d(-50%, 0, 0);
  -webkit-transform: translate3d(-50%, 0, 0);
  -moz-transform: translate3d(-50%, 0, 0);
  margin-top: -25px;
}
.masonry-loader.fadeOut {
  opacity: 0;
  max-height: 0;
  padding: 0;
  overflow: hidden;
}
.spinner {
  width: 50px;
  height: 50px;
  background-color: #745cf9;
  margin: 0 auto;
  display: inline-block;
  transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -webkit-animation: sk-rotateplane 1.2s infinite ease-in-out;
  animation: sk-rotateplane 1.2s infinite ease-in-out;
}
@-webkit-keyframes sk-rotateplane {
  0% {
    -webkit-transform: perspective(120px);
  }
  50% {
    -webkit-transform: perspective(120px) rotateY(180deg);
  }
  100% {
    -webkit-transform: perspective(120px) rotateY(180deg) rotateX(180deg);
  }
}
@keyframes sk-rotateplane {
  0% {
    transform: perspective(120px) rotateX(0deg) rotateY(0deg);
    -webkit-transform: perspective(120px) rotateX(0deg) rotateY(0deg);
  }
  50% {
    transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg);
    -webkit-transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg);
  }
  100% {
    transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
    -webkit-transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
  }
}
@media all and (max-width: 767px) {
  .comments input[type="submit"] {
    max-width: 100%;
    float: none;
  }
}
.flex-direction-nav a.flex-next {
  right: 16px;
}
.flex-direction-nav a.flex-next:before, .flex-direction-nav a.flex-prev:before {
  content: "\f105";
  font-family: 'fontawesome';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  font-size: 24px;
  color: #fff;
}
.flex-direction-nav a.flex-prev {
  left: 16px;
}
.flex-direction-nav a.flex-prev:before {
  content: "\f104";
}
.flex-direction-nav a {
  opacity: 1;
  text-shadow: none;
  color: rgba(0, 0, 0, 0);
  width: 24px;
  height: 24px;
  margin: -12px 0 0;
}
.flex-control-nav li a {
  background: none;
  border: 2px solid #0e1015;
  width: 10px;
  height: 10px;
}
@media all and (max-width: 768px) {
  .flex-direction-nav {
    display: none;
  }
}
.text-slider .flex-direction-nav li a:before {
  color: #222;
}
.image-bg .text-slider .flex-direction-nav li a:before {
  color: #fff;
  transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  opacity: .5;
}
.image-bg .text-slider .flex-direction-nav li a:hover:before {
  opacity: 1;
}
.text-slider .flex-direction-nav a.flex-prev {
  left: -60px;
}
.text-slider .flex-direction-nav a.flex-next {
  right: -60px;
}
.content p.intro {
  padding-bottom: 20px;
  border-bottom: 3px double #ddd;
  margin-bottom: 20px;
  font-size: 1.2em;
  line-height: 155%;
  font-weight: 700;
  color: #745cf9;
}
.content blockquote {
  padding: 30px 30px 30px 90px;
  background: #fafafa;
  border: 1px solid #eee;
  position: relative;
  font-style: italic;
}
.content blockquote p {
  font-style: italic;
}
.content blockquote:after {
  content: '”';
  width: 90px;
  font-size: 72px;
  line-height: 72px;
  font-weight: 700;
  font-style: normal;
  text-align: center;
  color: #004c34;
  position: absolute;
  top: 31px;
  left: 0px;
}
.content blockquote cite {
  display: block;
  margin-top: 1.1em;
  /*font-family: 'Lato', Helvetica, sans-serif;*/
  font-size: 0.75em;
  line-height: 120%;
  font-weight: 900;
  text-transform: uppercase;
  letter-spacing: 1px;
}
.content blockquote cite:before {
  content: "— ";
}
.content ul, .content ol {
  margin-left: 1.5em;
}
.content ul {
  list-style: disc;
}
.content ul ul {
  list-style: circle;
}
.content ol {
  list-style: decimal;
}
.content ol ol {
  list-style: lower-alpha;
}
.content ul ul, .content ul ol, .content ol ul, .content ol ol {
  margin-bottom: 0;
}
.content li {
  margin-bottom: 0.5em;
  line-height: 170%;
}
.content ol > li:last-child, .content ul > li:last-child {
  margin-bottom: 0;
}
.content ol > li:first-child, .content ul > li:first-child {
  margin-top: 0.5em;
}

/* WordPress Tables */

.content table {
  border-collapse: collapse;
  border-spacing: 0;
  empty-cells: show;
  font-size: 0.9em;
  width: 100%;
  margin-bottom: 1.1em;
}
.content th, .content td {
  padding: 2%;
  margin: 0;
  overflow: visible;
  line-height: 120%;
  border-bottom: 1px solid #DDD;
}
.content th {
  padding-top: 0;
}
.content th {
  font-weight: bold;
  color: #111;
}
.content table tbody > tr:nth-child(odd) > td {
  background: #f9f9f9;
}
.content ul.post-meta {
  margin-left: 0;
}
.content ul.post-meta li {
  list-style: none;
  margin-top: 0 !important;
}
.comment-date {
  display: inline-block;
  font-size: 10px;
  padding: 5px 0;
}
.comments .fn {
  display: block;
}
.comment-reply {
  height: 20px;
  line-height: 16px;
  padding: 0 12px;
  font-size: 10px;
}
.page-title-section {
  height: 140px;
  padding: 50px 0;
}
.page-title {
  margin-bottom: 0 !important;
}
@media all and (max-width: 767px) {
  .page-title-section, #breadcrumbs {
    text-align: center;
  }
}
.author-bio {
  display: block;
  overflow: hidden;
  padding: 32px;
  background: #f5f5f5;
  border: 1px solid rgba(0, 0, 0, 0.1);
  margin-bottom: 64px;
}
.author-social {
  font-size: 16px !important;
}

/*!---------- 19. IMAGE BLOCKS ----------*/

.image-small {
  max-height: 80px;
}
.fade-half {
  opacity: 0.5;
}
.cast-shadow {
  -webkit-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
}

/*!---------- 20. PORTOFLIO ----------*/

.project {
  transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  opacity: 1;
  padding: 0;
}
.project .image-tile {
  margin: 0;
}

/*!---------- 21. FOOTER ----------*/

footer.bg-dark a {
  color: #fff;
}
.social-list {
  margin: 0;
}
.bg-dark .social-list a {
  color: #fff;
  opacity: .5;
}
.bg-dark .social-list a:hover {
  opacity: 1;
}
.back-to-top {
  position: absolute;
  right: 0;
  bottom: 0;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  height: 36px;
  width: 36px;
  padding: 5px 11px;
}
.back-to-top .fa {
  font-size: 18px;
  color: #fff;
}
.back-to-top:hover {
  opacity: 1;
}
.bg-dark .back-to-top {
  border-color: #fff;
}
.bg-dark .back-to-top:active, .bg-dark .back-to-top:focus {
  color: #fff;
}
.bg-dark .back-to-top:hover {
  background: none;
}
.footer input[type="submit"] {
  border: 0;
  margin-top: 3px;
}
.copyright-text {
  color: #fefefe;
}
.footer .footer-credits a {
  color: #fefefe;
  opacity: .8;
}

/*!---------- 22. SPACING ----------*/

.mt20 {
  margin-top: 20px !important;
}
.mt30 {
  margin-top: 30px !important;
}
.mb0 {
  margin-bottom: 0 !important;
}
.mb16 {
  margin-bottom: 16px;
}
.mb24 {
  margin-bottom: 24px;
}
.mb32 {
  margin-bottom: 32px;
}
.mb40 {
  margin-bottom: 40px;
}
.mb64 {
  margin-bottom: 64px;
}
.p24 {
  padding: 24px;
}
.p0 {
  padding: 0;
}
.pt48 {
  padding-top: 48px;
}
.pb0 {
  padding-bottom: 0 !important;
}
.pt0 {
  padding-top: 0;
}
@media all and (max-width: 767px) {
  .mb-xs-24 {
    margin-bottom: 24px;
  }
  .mb-xs-40 {
    margin-bottom: 40px;
  }
}

/*!---------- 23. OTHER ----------*/

section {
  /*border-bottom: 1px solid rgba(0, 0, 0, 0.1);*/
}
.feature-1 i {
  font-size: 64px;
}
.parallax-section {
  padding-top: 0;
  padding-bottom: 0;
  border: 0;
}
.small-screen .top-parallax-section {
  overflow: hidden;
  padding: 96px 0;
}
.social-list {
  font-size: 22px;
}
.testimonial-img {
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  height: 100px;
  width: 100px;
  margin-bottom: 16px;
}
.image-bg a {
  color: #745cf9;
}
.widget-area section {
  border-bottom: 0;
  padding: 0;
}

/* Layout */

.has-sidebar-left #secondary {
  padding-right: 40px;
}
.no-sidebar {
  float: none;
  margin: 0 auto;
}
.full-width {
  width: 100%;
}



/*=========================================
* BOOTSTRAP RESETING
===========================================*/
@media (min-width: 1200px){
  .container {
      width: 1280px;
  }
}

.dropdown-menu>.active>a, .dropdown-menu>.active>a:focus, .dropdown-menu>.active>a:hover {
  background-color: #004c34 !important;
}
/*===========================================
*SHADOW CONTAINER 
=============================================*/
.shadow{
  box-shadow: 0 2px 2px 0 rgba(0,0,0,.14),0 1px 5px 0 rgba(0,0,0,.12),0 3px 1px -2px rgba(0,0,0,.2);
  /*box-shadow: 0px 0px 6px 0.5px rgba(0,0,0,0.1);*/
   border-radius: 5px;
}

.border-b-green{
  border: 1px solid #DDD;
  border-bottom: 4px solid #006943;
}
/*used on single.php*/
main#main{
  padding-bottom: 2em;
}
main#main .entry-header img.wp-post-image{
  border-radius: 5px 5px 0 0;
  width: 100%;
}
main header.entry-header{
  margin-bottom: 1em;
}

main div.post-thumbnail{
  position: relative;
  /*max-height: 500px;
  overflow: hidden;*/
}

main .post-title{
  /*padding: 0.2em 0.65em 0;*/
}
main .post-meta{
  /*padding-left: 1.2em !important;*/
  display: block;
}

main .author-bio{
  margin-left: 2em;
  margin-right: 2em;
}
main .author-bio .avatar img{
  margin: 0 auto;
  display: block;
  border-radius: 50%;
  overflow: hidden;
}
main .entry-content,
main #disqus_thread{
  padding: 0 2em;
}

.post-title{
  margin-bottom: 0;
}
.post-title > a{
  color: #FFF !important;
  font-size: 30px;
  line-height: 0;
}
.title-content h6.post-title a{
  font-size: 20px;
  text-transform: uppercase;
}
.entry-header{
  position: relative;
}


/*blog-page.php on list of posts*/
.title-line {
    position: absolute;
    bottom: 32px;
    left: 0;
    right: 0;
    background: rgba(0,0,0,.6);
    text-shadow: 0px 0px 2px #131212;
    color: #fff;
    font-size: 0;
    z-index: 3;
}

.title-line > a{
    text-align: center;
    display: inline-block;
    vertical-align: middle;
    width: 12%;
    margin: 10px 0;
    padding: 12px;
}

.title-line a div.user-avatar{
  width: 80px;
  height: 80px;
  border-radius: 50%;
  overflow: hidden;
  border: 3px solid #005e3c;"
}
/*.title-line a img.wp-user-avatar{
  border-radius: 50%;
  border: 3px solid #005e3c;
}*/
.title-content{
    display: inline-block;
    width: 88%;
    box-sizing: border-box;
    overflow: hidden;
    font-size: 1rem;
    vertical-align: middle;
    padding: 1em 2em;
}
.title-content a{
  /*color: #ffcb00;*/
  color: #99ff00;
}

.title-content h2,
.title-content h4{
  color: #FFF;
  text-transform: uppercase;
  line-height: 0.8em;
}

main#main article footer.entry-footer{
  padding: 0 2em;
}



article.content .post-meta .cat-links a{
  font-size: 0.5em;
  color: #fff;
  background-color: #004c34;
  border-radius: 10px;
  padding: 0.2em .6em;
}


article.content .post-meta  li{
  display: block;
  float: none;
  margin: 0 auto;
  text-align: center;
}
article.content .post-title{
  margin: 0.5em 0.2em 0.2em;
  text-align: center;
  line-height: 1em;
}

article.content .entry-content p{
  font-size: 1.1em;
}